* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

section {
   height: 100vh;
   background-color: #EFF2F9;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card {
   width: 1170px;
   height: 800px;
   background-color: #FFF;
   box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
   padding-top: 60px;
   padding-bottom: 70px;
   display: flex;
}

.preview-image {
   width: 80px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: all .2s;
}

.preview-image:hover,
.selected {
   box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
}

.selected {
   background: #FFF;

}

.product-images-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 540px;
   border-right: 2px solid rgba(20, 20, 20, 0.15);
}

.main-image-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
}

.preview-wrapper {
   display: flex;
   justify-content: center;
   gap: 60px;
}

.product-info-block {
   padding: 0 60px;
   display: flex;
   flex-direction: column;
}

h1 {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 38px;
   letter-spacing: 0.01em;
   color: rgba(20, 20, 20, 0.9);
}

.subtitle {
   margin-bottom: 60px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.01em;
   color: rgba(20, 20, 20, 0.4);
}

.text {
   font-family: "Rubik", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.66667;
   letter-spacing: 0.01em;
   color: rgba(20, 20, 20, 0.7);
   margin-bottom: 65px;
}

h2 {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.01em;
   text-transform: uppercase;
   color: rgba(20, 20, 20, 0.4);
   margin-bottom: 20px;
}

.title {
   margin-bottom: 20px;
}

ul {
   list-style: none;
}

.color-options {
   display: flex;
   align-items: center;
   gap: 40px;
}

.circle {
   width: 16px;
   height: 16px;
   border-radius: 100%;
   filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));
}

.blue {
   background-color: #013c7d;
}

.green {
   background-color: #63cba7;
}

.red {
   background-color: #d52f29;
}

.black {
   background-color: #141414;
}

.yellow {
   background-color: #f2c723;
}

.color-option {
   width: 30px;
   height: 30px;
   padding: 7px;
   border-radius: 50%;
   cursor: pointer;
   transition: .2s;

}

.color-option.selected-element,
.color-option:hover {
   box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
}


.wrapper {
   display: flex;
   margin-bottom: 75px;
}

.wrapper > div {
   flex-grow: 1;
}

.price {
   font-family: "Rubik", sans-serif;
   font-weight: 500;
   font-size: 20px;
   letter-spacing: 0.01em;
   text-transform: uppercase;
   color: rgba(20, 20, 20, 0.8);
}

button {
   font-family: "Rubik", sans-serif;
   font-weight: 500;
   font-size: 18px;
   letter-spacing: 0.01em;
   color: #fff;
   width: 100%;
   height: 70px;
   background: #141414;
   cursor: pointer;
   transition: .2s;
}

button:hover {
   transform: skew(10deg);
}

.quantity {
   width: 80px;
   font-family: "Rubik", sans-serif;
   font-weight: 500;
   font-size: 20px;
   letter-spacing: 0.01em;
   text-transform: uppercase;
   color: rgba(20, 20, 20, 0.8);
   border: none;
   appearance: none;
   background-image: url("./assets/images/arrow.svg");
   background-repeat: no-repeat;
   background-position: right 0 top 50%;
   cursor: pointer;
}

.colors {
   margin-bottom: 65px;
}